
<h1>Uptime Monitoring</h1>
<h2>Simple and easy</h2>

<p class="blurb">Up Time checker is a free app for monitoring your sites or APIs, checking their current state whether is UP or DOWN and notifying you via text messsage every time something happens, another feature you can enjoy for free is saving all the logs generated during the monitoring and recieve a compressed report of the last 24 hrs logs.</p>

<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>